/* ======== Table of Contents ========
1. Global Styles
2. Layout 
    2.1 Grid
    2.2 Flex
3. Typography
4. Conponents
    4.1 Buttons
    4.2 Cards */


    /* ======== Global Styles ======== */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    /* ======== Fonts ======== */
      /* Font sizes */
    --fs-h1: 4.5rem; /* 72 */
    --fs-h2: 3rem;  /* 48 */
    --fs-h3: 1.5rem; /* 24 */
    --fs-p: 1rem; /* 16 */
    --fs-nav: 0.88rem; /* 14 */
    /* Font weights */
    --fw-800: 800;
    --fw-700: 700;
    --fw-400: 400;
    /* ======== Colors ======== */
    /* Primary colors */
    --clr-primary-100: hsl(35, 77%, 62%);
    --clr-primary-200: hsl(5, 85%, 63%);
    /* Neutral colors */
    --clr-neutral-100: hsl(36, 100%, 99%);
    --clr-neutral-200: hsl(233, 8%, 79%);
    --clr-neutral-300: hsl(236, 13%, 42%);
    --clr-neutral-400: hsl(240, 100%, 5%);
    /* ========  */
}

body{
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-100);
    background-color: var(--clr-neutral-100);
}

/* ======== Layout ======== */

/* Grid */

#container{
    margin: 0 auto;
    max-width: 90rem;
    justify-content: center;
    height: 100vh;
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
    "header header" 
    "main sidebar"
    "cards cards";
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 1fr 8fr 3fr;
} 

header{
    grid-area: header;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    grid-area: main;
}


aside{
    grid-area: sidebar;
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-200);
}

article{
    grid-area: cards;
}

/* Flexbox */

#flex-main{
    display: flex;
    padding: 0 1.5rem ;
}

#article-cards{
    display: flex;
}

.article-flex{
    display: flex;
}


/* ======== Typography ======== */

h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-800);
    color: var(--clr-neutral-400);
}

h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-700);
}
    
h3{
    font-size: var(--fs-h3);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-400);
}

p{
    font-size: var(--fs-p);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-300);
    line-height: 1.75rem;
}

/* ======== Conponents ======== */

#navbar{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-nav);
    color: var(--clr-neutral-300);
}
/* Buttons */

a{
    text-decoration: none;
    color: var(--clr-neutral-300);
}

.nav_buttons{
    margin-left: 2.63rem;
}

.nav_buttons:hover{
    color: var(--clr-primary-200);
}

#article-button{
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-100);
    padding: 1rem 3.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}

/* Cards */

#article-summary{
    color: var(--clr-neutral-300);
    margin: 3rem 0;
    line-height: 2rem;
    max-width: 40rem;
}


aside h2{
    color: var(--clr-primary-100);
}


@media screen {max-width: ;

}

#attribution { font-size: 11px; text-align: center; }
#attribution a { color: hsl(228, 45%, 44%); }